body {

}

div.title {
    font: : Montserrat;
    display: inline;
}

div.title img.icon {
    float: left;
}

ul.navbar {
    list-style-type: none;
    border: 1px solid black;
    font-size: : 1em;
    margin: 0.5em;
    background-color: #A1A6AA;
}

ul.navar li {
    display: inline;
    font: Montserrat;
    padding: 0.5em;
    border-right: 1px solid black;
}

ul.navbar li a {
    text-align: center;
    padding: 0.5em;
}

ul.navbar li.right {
    float: right;
    border-left: 1px solid black;
}
