body {
  background-color: blue;
}

div.navbar {
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 1.5em;
  border: 1em;
}

li {
  color: black;
  display: inline;
  border: 1em;
  border-radius: 0.5px;
}

li a:hover {
    background-color: green;
}
