body {
  background-color: blue;
}

ul.navbar {
  font-size: 1em;
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

li {
  color: black;
  display: inline;
  height: 1.5em;
  border: 0.5px solid black;
  border-radius: 1px solid black;
}

li a {
    text-align: center;
    padding: 1em;
}

li a:hover {
    background-color: green;
    color: white;
}
