p {
  font-family: 'Ubuntu Condensed';
}

div.title {
    font-family: 'Montserrat';
    display: inline;
    margin: 1em;
}

div.title h1, div.title h2 {
    text-align: center;
}

div.title img.icon {
    float: left;
    border-radius: 0.5em;
    margin: 1.5em 0em 0em 1.5em;
}

ul.navbar {
    list-style-type: none;
    border: 1px solid #FFF;
    border-radius: 0.5em;
    font-size: : 1em;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #A1A6AA;
    overflow: hidden;
    float: left;
    border-left: 1px solid #FFF;
    text-align: center;
}

ul.navbar li, .dropbtn {
    padding: 0.5em;
    border-right: 1px solid #FFF;
    float: left;
    font-family: 'Montserrat';
}

ul.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-family: 'Montserrat';
}

ul.navbar li:hover, .dropdown:hover .dropbtn{
    background-color: #303133;
}

.active {
  background-color: #17BC1A;
}

@media screen and (orientation: portrait){
    ul.navbar li, .dropbtn a {
      float: none;
      font-size: 40px;
    }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    outline: none;
    color: white;
    background-color: #A1A6AA;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 2em;
    background-color: #A1A6AA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropbtn a {
  text-decoration: none;
  color: white;
}

.dropdown-content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #303133;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.game {
  text-align: center;
  display: inline;
  font-family: 'Montserrat';
}

img.thumbnail {
  width: 400px;
  height: 300px;
}

div.textbox {
  margin: 10%;
  margin-top: 5%;
  padding: 1.5em;
  padding-top: 0.5em;
  width: 70%;
  border: 2px solid black;
  border-radius: 5px;
}
