body {

}

div.title {
    font-family: Montserrat;
    display: inline;
}

div.title img.icon {
    float: left;
    border-radius: 0.5em;
}

ul.navbar {
    list-style-type: none;
    border: 1px solid black;
    font-size: : 1em;
    margin: 1em;
    background-color: #A1A6AA;
    padding: 0.5em;
}

ul.navbar li {
    font-family: Motserrat;
    padding: 0.5em;
    border-right: 1px solid black;
}

ul.navbar li a {
    display: inline;
    text-align: center;
    padding: 0.5em;
    color: #FFF;
}

ul.navbar li a:hover{
    background-color: #303133;
    padding: 0.5em;
}

ul.navbar li.right {
    float: right;
    border-left: 1px solid black;
    padding: 0em;
}
