body {

}

div.title {
    font-family: Montserrat;
    display: inline;
    margin: 1em;
}

div.title h1 {
    text-align: center;
}

div.title img.icon {
    float: left;
    border-radius: 0.5em;
}

ul.navbar {
    list-style-type: none;
    border: 1px solid black;
    font-size: : 1em;
    margin: 0.5em;
    background-color: #A1A6AA;
    padding: 0.5em;
    overflow: hidden;
}

ul.navbar li {
    padding: 0.5em;
    border-right: 1px solid black;
    float: left;
}

ul.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Motserrat;
    color: #FFF;
}

ul.navbar li:hover{
    background-color: #303133;
}

ul.navbar li.right {
    float: right;
    border-left: 1px solid black;
    padding: 0.5em;
    border-right: none;
    text-align: center;
}
