body {
  background-color: white;
}

div.title {
  font-size: 3em;
  font: Montserrat; 
}

ul.navbar {
  font-size: 1em;
  background-color: Grey;
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  border: 1px solid black;
}

ul.navbar li {
  color: black;
  display: inline;
  height: 1.5em;
  border: 0.5px solid black;
  border-radius: 1px solid black;
}

ul.navbar li a {
    text-align: center;
    padding: 0.5em;
}

ul.navbar li a:hover {
    background-color: green;
    color: white;
}
