body{
	font-family:  sans-serif;
	padding: 0;
	margin:  0;
	background-color: #063750;
	line-height: 1.5;
	color: #f7f7f7;
}

/*Nav Bar Styling*/



/*
nav{
	position: fixed;
	top: 0;
	left: 0;
	width:  100%;
	height: 40px;
	background-color: #063750;
	border-bottom: solid black 1px;
	z-index: 2;
}


nav ul{
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
	list-style: none;
}

nav li{
	display: table-cell;
	position: relative;
	margin: 0 5vw;
}

li a{
	font-weight: 400;
	text-decoration: none;
	position: relative;
	color: #f7f7f7;
}
*/
/*Styling to generate underline on hover in Navbar*/

.middle:before{
	content: "";
	position:  absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #f7f7f7;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}

.middle:hover:before{
	visibility: visible;
	transform:  scaleX(1.0);
}

/*Generic Styling*/

h2{
	text-align: center;
	font-size: 50px;
	padding-top: 8vh;
}

h3{
	margin-top: 0.5em;
}

section{
	margin: 5vh 20px 1vh;
}

section a{
	color: #f7f7f7;
}

.btn-link{
	height: 100%;
	width: 100%;
	color: #fff;
}

.btn-link:hover{
	color: #000;
	background-color: #094C6D;
}

/*Splash Zone*/

#landing{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-size: 2em;
	height: 100vh;
	background: no-repeat center url("https://images.unsplash.com/photo-1437413646517-e98caade5a58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
	background-size: cover;
	text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
}

#profile{
	border-radius: 50%;
	transition: all 0.5s ease-in-out;
}

#profile:hover{
	transform: scale(1.4);
}

#landing h1, #landing p, #profile{
	opacity: 0;
	color: #fff;
	animation: 1s ease-in fadein forwards;
}

@keyframes fadein{
	100%{
		opacity: 1;
	}
}

/*Card Styling*/


.card{
	margin: 2vh 5vw;
	padding: 2vh 2vw;
	border-radius: 10px;
	background-color: #063750;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-shadow: 2px 2px 16px -5px #000; 
	box-shadow: 2px 2px 16px -5px #000;
	transition: box-shadow 0.3s ease-out;
	transition: max-height 1s ease-in-out;
}

.card:hover{
	-webkit-box-shadow: 2px 2px 16px -5px #fff; 
	box-shadow: 2px 2px 16px -5px #fff;
}

.job{
	padding: 0 0;
}

/*Ensure personal card is styled the same but not affected by Card JavaScript*/

#personal{
	margin: 2vh 5vw;
	padding: 2vh 2vw;
	border-radius: 10px;
	background-color: #063750;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-shadow: 2px 2px 16px -5px #000; 
	box-shadow: 2px 2px 16px -5px #000;
	transition: hover 0.3s ease-out;
}

#personal:hover{
	-webkit-box-shadow: 2px 2px 16px -5px #fff; 
	box-shadow: 2px 2px 16px -5px #fff;
}

#contact{
	display: flex;
	justify-content: space-between;
	background-color: #063750;
	margin: 0;
	padding: 5vh 5vw;
}

.socials{
	text-align: center;
}

.socials a{
	text-decoration: none;
}