body{
	background-color: #0f0f0f;
	text-align: center;
}

.row div {
	overflow: hidden;
	margin: 5px 0;
}

.myButton {
	margin: 70px 0;
	opacity: 1;
}

.more {
	display: none;
}

.hidden {
	opacity: 0;
}