/*General Styles*/

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-align: center;
}

body{
	background-color: #f1f1f1;
}

hr{
	margin: 0 0 10px;
	width:20%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a {
	text-decoration: none;
}

section{
	display: flex;
	flex-direction: column;
	min-height: 40vh;
	padding: 40px 20px;
}

section:nth-of-type(2n){
	background-color: #c7c7c7;
	color: #292929;
}

/*Header Styles*/

header{
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 35px 100px 0;
	z-index: 1;
	opacity: 0;
	animation: 1s fadein 0.5s forwards;
}

header a {
	color: #f1f1f1;
}

header nav {
	display: flex;
}

nav li, nav li a{
	list-style: none;
	justify-content: space-between;
	color: #f1f1f1;
	margin: 0 15px;
}

.myMenu{
	color: #f1f1f1;
	/*font-size: 1.5em;*/
	display: none;
}

@keyframes fadein{
	100%{
		opacity: 1;
	}
}

/*Hero Landing Styles*/

.hero{
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #f1f1f1;
}

.background-image{
	position: absolute;
	background-image: url(../images/julian-zett-643140-unsplash.jpg);
	background-size: cover;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.landing-content-area{
	margin-top: 100px;
	opacity: 0;
	animation: 1s slidefade 1s forwards;
}

.hero h2{
	font-size: 80px;	
}

@keyframes slidefade{
	100%{
		opacity: 1;
		margin-top: 0;
	}
}

/*About Me Styles*/

#about{
	justify-content: center;
	align-items: center;
}

#about p{
	width:60%;
	line-height: 1.25em;
}

/*Projects Styles*/
#projects{
	align-items: center;
	justify-content: center;
}


#project-container{
	flex-direction: row;
}

.project-card {
	float: left;
	width:25%;
	height: 250px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.project-card p{
	position: absolute;
	top: 20%;
	font-size: 34px;
	line-height: 1.25em;
	color: #f1f1f1;
	transform: scale(0);
	transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-card.blue{
	background-color: #34495e;
}

.project-card.green{
	background-color: #16a085;
}

.project-card:hover img{
	opacity: 0.3;
	filter: grayscale(100%);
}

.project-card:hover p{
	transform: scale(1);
}


/*Contact Styles*/

#contact{
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#contact div{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*Footer Styles*/
footer{
	/*height: 100px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #031223;
	color: #f1f1f1;
	padding: 20px;
	text-align: center
}

footer a:link,
a:visited,
a:hover,
a:focus,
a:active{
	text-decoration: underline;
	color: #f1f1f1;
}

#footer-container{
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	margin: 0 0 30px;
}

#footer-container i{
	font-size: 2em;
}

/* Mobile Screen Adjustments */
@media screen and (max-width: 800px) {
	
	/* Header Styles */
	header, nav{
		flex-direction: column;
		font-size: 30px;
		text-align: center;
		margin: 5px 0;
	}

	#title{
		display: none;
	}

	nav li{
		padding: 5px 0;
		opacity: 0;
	}

	.showMenu{
		opacity: 1;
	}

	.myMenu{
		display: inline-block;
		cursor: pointer;
	}

	/* Project Styles */
	.project-card p{
		font-size: 17px;
	}
}