.myBrandIMG{
	height:50px;
	border-radius: 50%
}

.navbar-brand>img {
	display: inline;
}

.navbar-brand {
	padding: 0 15px 0 15px;
}

.navbar {
	font-family: Montserrat;
	color: #8e06b3;
}

.active {
	font-weight: 900;
}

 .navbar-default .navbar-nav>li>a {
 	color:  #8e06b3;
 }

 .navbar-default .navbar-brand {
	color:  #8e06b3;
 }

 .navbar-default .navbar-nav>.active>a {
 	color: #6A0685;
 }

