body {
	background-color: #e3e3e3;
	background-image: url("../images/tirza-van-dijk-58298.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h2 {
	font-family: Montserrat;
	font-weight: 900;
	height: 33%;
}

.row div {
	margin: 150px 4.16%;
	background-color: rgba(248,248,248,0.8);
	text-align: center;
	border-radius: 5%;
	transition: all 0.5s;
	height: 200px;
}

.row div:hover {
	box-shadow: 2px 2px 13px rgba(0,0,0,0.6), 
				8px 8px 23px rgba(0,0,0,0.2);
	transform: translate(-2px, -2px)
}

.myDiv {
	background-color: rgba(248,248,248,0.8);
	text-align: center;
	border-radius: 5%;
	width:30%;
	margin: 0 auto;
}